# Tệp bỏ qua của Git
__pycache__/
.venv/
build/
downloads/
cookies.txt
settings.json
download_history.json
node.exe
*.pyc

models/
dist/
*.spec

download_history.db
download_history.json.bak
updates/
